In [1]:
#|default_exp sig_test

# Significant tests

In [2]:
#|hide
from nbdev.showdoc import *

In [23]:
#|hide
#|export
import pandas as pd
import numpy as np
# import statsmodels.api as sm
# import scipy.stats as stats
# from statsmodels.formula.api import ols

import matplotlib.pyplot as plt
import scipy.stats as stats

# import seaborn as sns


# import scikit_posthocs as sp
# import pandas as pd
# import numpy as np
# from io import StringIO

# from statistics_tests import const_vals as const

Constants - to be moved into another notebooks

In [66]:
user_defined_number=50
str_id = 'A'


#shapiro table

shapiro_group_code_str = 'group_code'
shapiro_statistic_str='shapiro_statistic'
shapiro_p_value_str ='shapiro_p_value'


p_value_border = 0.05

Create example dataframe

In [22]:
#|export

data = {
    'id': [str_id + str(i) for i in range(1, user_defined_number + 1)],
    'value': np.random.rand(user_defined_number).tolist(),
    'group': np.random.randint(1, 7, size=user_defined_number).tolist()
}
df=pd.DataFrame(data)
df.head(5)

   id     value  group
0  A1  0.380936      4
1  A2  0.108776      2
2  A3  0.872741      3
3  A4  0.377202      3
4  A5  0.321277      5

# Anova test

to be written

In [64]:
#|export

def anova_test(
    df : pd.DataFrame , # DataFrame containing the observations and a column specifying the group to which each observation belongs.
    group_col_name : str, # the column name which contain the group code 
    values_col_name : str , # the coulmn name of the column that contains the values of each observation
    ):
  
  group_codes = df[group_col_name].unique().tolist()


  shapiros={shapiro_group_code_str  : [], shapiro_statistic_str: [] , shapiro_p_value_str:[]}
  
  for group_code in group_codes:
        tmp = df[df[group_col_name] == group_code]
        shapiro_test = stats.shapiro(tmp[tmp[group_col_name] == group_code][values_col_name])

        shapiros[shapiro_group_code_str ].append(group_code)
        shapiros[shapiro_statistic_str].append(shapiro_test[0])
        shapiros[shapiro_p_value_str].append(shapiro_test[1])


  shapiros_df=pd.DataFrame(shapiros)

  if all(shapiros_df[shapiro_p_value_str] < p_value_border):
  
  
  return shapiros_df

In [ ]:
    if shapiro_test1[1]<0.05 and shapiro_test2[1]<0.05 and shapiro_test3[1]<0.05:
        levene=stats.levene(tmp[w][tmp['code']==a],
                            tmp[w][tmp['code']==b],
                            tmp[w][tmp['code']==c])

In [65]:
shapiros=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

shapiros

   value  shapiro_statistic  shapiro_p_value
0      4           0.963090         0.820452
1      2           0.884296         0.246208
2      3           0.916734         0.260004
3      5           0.961265         0.816761
4      6           0.918001         0.413853
5      1           0.904284         0.315558

In [34]:
values = df['group'].unique().tolist()

shapiros={}
for value in values:
  tmp = df[df['group'] == value]['value']

In [39]:
stats.shapiro(tmp)

ShapiroResult(statistic=0.9042837023735046, pvalue=0.31555837392807007)

In [ ]:

shapiro=[]
for v in values:
    test=df1[[v,'code']]
    for c in codes:
        shapiro_test = stats.shapiro(test[test['code'] == c])
        print(v,c,' ',shapiro_test)