In [1]:
#|default_exp sig_test

# Significant tests

In [2]:
#|hide
from nbdev.showdoc import *

In [3]:
#|hide
#|export
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats


from statistics_tests import const_vals as const

Constants - to be moved into another notebooks

In [4]:


# #shapiro table

# shapiro_group_code_str = 'group_code'
# shapiro_statistic_str='shapiro_statistic'
# shapiro_p_value_str ='shapiro_p_value'

# #anova / significant differnce test 
# group_code_str = 'group_code'
# p_value_str= 'p_value'

# sig_test_name_col_name = 'test_name'


# anova_name_str='one_way_anova'
# kruskal_name_str= 'kruskal'

# p_value_border = 0.05

Create example dataframe

In [5]:
#|export

data = {
    'id': [const.str_id + str(i) for i in range(1, const.user_defined_number + 1)],
    'value': ((0.01 - 0.03) * np.random.rand(const.user_defined_number)+ 0.01).tolist(),
    'group': np.random.randint(1, 7, size=const.user_defined_number).tolist()
}
df=pd.DataFrame(data)
df

     id     value  group
0    A1  0.002307      1
1    A2  0.001588      1
2    A3 -0.007436      5
3    A4 -0.002791      4
4    A5  0.006112      5
5    A6 -0.008044      6
6    A7 -0.007592      5
7    A8  0.002680      4
8    A9  0.005797      5
9   A10  0.006934      4
10  A11 -0.001766      5
11  A12  0.009237      6
12  A13 -0.008166      2
13  A14  0.007161      3
14  A15  0.005684      3
15  A16  0.004993      3
16  A17  0.005318      3
17  A18 -0.003253      5
18  A19  0.008886      2
19  A20 -0.000082      5
20  A21  0.008020      3
21  A22 -0.007322      2
22  A23  0.009393      6
23  A24  0.000391      3
24  A25  0.009674      2
25  A26  0.008381      2
26  A27 -0.009369      2
27  A28  0.002841      6
28  A29 -0.007566      3
29  A30  0.006350      1
30  A31  0.007446      2
31  A32  0.003363      6
32  A33  0.008116      1
33  A34 -0.002120      5
34  A35 -0.000855      3
35  A36 -0.008523      5
36  A37  0.001508      5
37  A38  0.000397      4
38  A39  0.004512      5
39  A40  0.006077      4
40  A41 -0.005857      2
41  A42  0.000758      4
42  A43 -0.008416      6
43  A44 -0.005961      1
44  A45 -0.000376      1
45  A46  0.004924      1
46  A47 -0.002675      6
47  A48  0.007010      5
48  A49  0.002077      3
49  A50 -0.008170      3

# Anova test

to be written

In [6]:
#|export

#TODO FIX THE GROUP CODE IN FINAL TABLE!!!
def anova_test(
    df : pd.DataFrame , # DataFrame containing the observations and a column specifying the group to which each observation belongs.
    group_col_name : str, # the column name which contain the group code 
    values_col_name : str , # the coulmn name of the column that contains the values of each observation
    ):
  
  group_codes = df[group_col_name].unique().tolist()
  dfs_for_test =[df[df[group_col_name] == val][values_col_name] for val in group_codes]

  shapiros={const.shapiro_group_code_str  : [], const.shapiro_statistic_str: [] , const.shapiro_p_value_str:[]}
  
  sig_tests_results={const.p_value_str: [], const.sig_test_name_col_name : [] }

  for group_code in group_codes:
        tmp = df[df[group_col_name] == group_code]
        shapiro_test = stats.shapiro(tmp[tmp[group_col_name] == group_code][values_col_name])

        shapiros[const.shapiro_group_code_str].append(group_code)
        shapiros[const.shapiro_statistic_str].append(shapiro_test[0])
        shapiros[const.shapiro_p_value_str].append(shapiro_test[1])


  shapiros_df=pd.DataFrame(shapiros)

  if (shapiros_df[const.shapiro_p_value_str] < const.p_value_border).all():

    levene_result = stats.levene(*dfs_for_test)
    
    if levene_result[1]>const.p_value_border:
        
        anova=stats.f_oneway(dfs_for_test)
        sig_tests_results[const.p_value_str].append(anova[1])
        sig_tests_results[const.sig_test_name_col_name].append(const.anova_name_str)
        
    else:
      kruskal=stats.kruskal(*dfs_for_test)
      sig_tests_results[const.p_value_str].append(kruskal[1])
      sig_tests_results[const.sig_test_name_col_name].append(const.kruskal_name_str)

  else:
    
    kruskal=stats.kruskal(*dfs_for_test)
    sig_tests_results[const.p_value_str].append(kruskal[1])
    sig_tests_results[const.sig_test_name_col_name].append(const.kruskal_name_str)
     
  
  results = pd.DataFrame(sig_tests_results)
  
  return results

In [7]:
sig_difference_df=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

sig_difference_df

    p_value test_name
0  0.910946   kruskal