In [1]:
#|default_exp sig_test

# Significant tests

In [5]:
#|hide
from nbdev.showdoc import *

In [6]:
#|hide
#|export
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

Constants - to be moved into another notebooks

In [18]:
user_defined_number=50
str_id = 'A'


#shapiro table

shapiro_group_code_str = 'group_code'
shapiro_statistic_str='shapiro_statistic'
shapiro_p_value_str ='shapiro_p_value'

#anova / significant differnce test 
group_code_str = 'group_code'
p_value_str= 'p_value'

sig_test_name_col_name = 'test_name'


anova_name_str='one_way_anova'
kruskal_name_str= 'kruskal'

p_value_border = 0.05

Create example dataframe

In [33]:
#|export

data = {
    'id': [str_id + str(i) for i in range(1, user_defined_number + 1)],
    'value': ((0.01 - 0.03) * np.random.rand(user_defined_number)+ 0.01).tolist(),
    'group': np.random.randint(1, 7, size=user_defined_number).tolist()
}
df=pd.DataFrame(data)
df

     id     value  group
0    A1 -0.003147      1
1    A2 -0.003899      3
2    A3 -0.001084      3
3    A4  0.000518      1
4    A5  0.002528      1
5    A6 -0.001278      6
6    A7  0.004646      6
7    A8  0.009527      4
8    A9  0.006867      4
9   A10  0.007143      4
10  A11 -0.001692      2
11  A12  0.003354      4
12  A13 -0.001973      4
13  A14  0.003223      2
14  A15 -0.007712      2
15  A16 -0.009141      6
16  A17  0.005658      1
17  A18 -0.005081      1
18  A19 -0.007757      6
19  A20 -0.002309      1
20  A21  0.000095      2
21  A22 -0.000377      4
22  A23 -0.008757      2
23  A24 -0.002519      2
24  A25  0.008017      3
25  A26  0.002593      3
26  A27  0.003929      3
27  A28 -0.008448      3
28  A29 -0.009020      5
29  A30 -0.007919      2
30  A31 -0.001201      1
31  A32 -0.002246      4
32  A33 -0.006831      4
33  A34 -0.006787      5
34  A35 -0.002119      3
35  A36 -0.004545      4
36  A37  0.005934      5
37  A38  0.003705      6
38  A39 -0.009732      6
39  A40  0.006810      1
40  A41 -0.002801      1
41  A42 -0.009084      4
42  A43 -0.005249      2
43  A44 -0.001816      4
44  A45 -0.002294      3
45  A46  0.000827      4
46  A47  0.005340      6
47  A48 -0.001857      2
48  A49  0.007318      3
49  A50  0.009845      6

# Anova test

to be written

In [34]:
#|export

#TODO FIX THE GROUP CODE IN FINAL TABLE!!!
def anova_test(
    df : pd.DataFrame , # DataFrame containing the observations and a column specifying the group to which each observation belongs.
    group_col_name : str, # the column name which contain the group code 
    values_col_name : str , # the coulmn name of the column that contains the values of each observation
    ):
  
  group_codes = df[group_col_name].unique().tolist()
  dfs_for_test =[df[df[group_col_name] == val][values_col_name] for val in group_codes]

  shapiros={shapiro_group_code_str  : [], shapiro_statistic_str: [] , shapiro_p_value_str:[]}
  
  sig_tests_results={p_value_str: [], sig_test_name_col_name : [] }

  for group_code in group_codes:
        tmp = df[df[group_col_name] == group_code]
        shapiro_test = stats.shapiro(tmp[tmp[group_col_name] == group_code][values_col_name])

        shapiros[shapiro_group_code_str].append(group_code)
        shapiros[shapiro_statistic_str].append(shapiro_test[0])
        shapiros[shapiro_p_value_str].append(shapiro_test[1])


  shapiros_df=pd.DataFrame(shapiros)

  if (shapiros_df[shapiro_p_value_str] < p_value_border).all():

    levene_result = stats.levene(*dfs_for_test)
    
    if levene_result[1]>p_value_border:
        
        anova=stats.f_oneway(dfs_for_test)
        # sig_tests_results[shapiro_group_code_str].append(group_code)
        sig_tests_results[p_value_str].append(anova[1])
        sig_tests_results[sig_test_name_col_name].append(anova_name_str)
        
    else:
      kruskal=stats.kruskal(*dfs_for_test)
      # sig_tests_results[shapiro_group_code_str].append(group_code)
      sig_tests_results[p_value_str].append(kruskal[1])
      sig_tests_results[sig_test_name_col_name].append(kruskal_name_str)

  else:
    
    kruskal=stats.kruskal(*dfs_for_test)
    # sig_tests_results[shapiro_group_code_str].append(group_code)
    sig_tests_results[p_value_str].append(kruskal[1])
    sig_tests_results[sig_test_name_col_name].append(kruskal_name_str)
     
  
  results = pd.DataFrame(sig_tests_results)
  
  return results

In [35]:
sig_difference_df=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

sig_difference_df

    p_value test_name
0  0.620788   kruskal

In [ ]:
group_codes = df['group'].unique().tolist()

if (df['value'] < p_value_border).all():
  dfs_for_levene =[df[df['group'] == val]['value'] for val in group_codes]

  levene_result = stats.levene(*dfs_for_levene)

In [ ]:
levene_result

In [ ]:
group_codes=df['group'].unique().tolist()
group_codes

In [ ]:
tst=[df[df['group'] == val] for val in group_codes]
tst[5]

In [ ]:
dfs_for_levene = [tmp[tmp[group_col_name] == val] for val in group_codes]# if val != value]

In [ ]:
    if shapiro_test1[1]<0.05 and shapiro_test2[1]<0.05 and shapiro_test3[1]<0.05:
        levene=stats.levene(tmp[w][tmp['code']==a],
                            tmp[w][tmp['code']==b],
                            tmp[w][tmp['code']==c])

In [ ]:
shapiros=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

shapiros

In [ ]:
values = df['group'].unique().tolist()

shapiros={}
for value in values:
  tmp = df[df['group'] == value]['value']

In [ ]:
stats.shapiro(tmp)

In [ ]:

shapiro=[]
for v in values:
    test=df1[[v,'code']]
    for c in codes:
        shapiro_test = stats.shapiro(test[test['code'] == c])
        print(v,c,' ',shapiro_test)