In [1]:
#|default_exp sig_test

# Significant tests

In [2]:
#|hide
from nbdev.showdoc import *

In [23]:
#|hide
#|export
import pandas as pd
import numpy as np
# import statsmodels.api as sm
# import scipy.stats as stats
# from statsmodels.formula.api import ols

import matplotlib.pyplot as plt
import scipy.stats as stats

# import seaborn as sns


# import scikit_posthocs as sp
# import pandas as pd
# import numpy as np
# from io import StringIO

# from statistics_tests import const_vals as const

Constants - to be moved into another notebooks

In [72]:
user_defined_number=50
str_id = 'A'


#shapiro table

shapiro_group_code_str = 'group_code'
shapiro_statistic_str='shapiro_statistic'
shapiro_p_value_str ='shapiro_p_value'


p_value_border = 0.05

Create example dataframe

In [114]:
#|export

data = {
    'id': [str_id + str(i) for i in range(1, user_defined_number + 1)],
    'value': ((0.015 - 0.01) * np.random.rand(user_defined_number)+ 0.01).tolist(),
    'group': np.random.randint(1, 7, size=user_defined_number).tolist()
}
df=pd.DataFrame(data)
df.head(5)

   id     value  group
0  A1  0.014151      1
1  A2  0.011916      1
2  A3  0.013200      4
3  A4  0.011784      3
4  A5  0.013591      4

# Anova test

to be written

In [115]:
#|export

def anova_test(
    df : pd.DataFrame , # DataFrame containing the observations and a column specifying the group to which each observation belongs.
    group_col_name : str, # the column name which contain the group code 
    values_col_name : str , # the coulmn name of the column that contains the values of each observation
    ):
  
  group_codes = df[group_col_name].unique().tolist()


  shapiros={shapiro_group_code_str  : [], shapiro_statistic_str: [] , shapiro_p_value_str:[]}
  
  for group_code in group_codes:
        tmp = df[df[group_col_name] == group_code]
        shapiro_test = stats.shapiro(tmp[tmp[group_col_name] == group_code][values_col_name])

        shapiros[shapiro_group_code_str].append(group_code)
        shapiros[shapiro_statistic_str].append(shapiro_test[0])
        shapiros[shapiro_p_value_str].append(shapiro_test[1])


  shapiros_df=pd.DataFrame(shapiros)

  if (shapiros_df[shapiro_p_value_str] < p_value_border).all():
    dfs_for_levene =[df[df[group_col_name] == val][values_col_name] for val in group_codes]

    levene_result = stats.levene(*dfs_for_levene)


# #     levene_results[value] = levene_result
  
  
  return shapiros_df

In [116]:
shapiros=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

shapiros

   group_code  shapiro_statistic  shapiro_p_value
0           1           0.952057         0.692870
1           4           0.831645         0.046592
2           3           0.943919         0.550441
3           6           0.933529         0.515655
4           5           0.851364         0.126477
5           2           0.829473         0.186992

In [124]:
group_codes = df['group'].unique().tolist()

if (df['value'] < p_value_border).all():
  dfs_for_levene =[df[df['group'] == val]['value'] for val in group_codes]

  levene_result = stats.levene(*dfs_for_levene)

In [125]:
levene_result

LeveneResult(statistic=0.4954722380170368, pvalue=0.7778700662985124)

In [75]:
group_codes=df['group'].unique().tolist()
group_codes

[2, 5, 3, 4, 1, 6]

In [79]:
tst=[df[df['group'] == val] for val in group_codes]
tst[5]

     id     value  group
11  A12  0.031241      6
19  A20  0.026206      6
20  A21  0.034869      6
23  A24  0.039485      6
24  A25  0.010517      6
26  A27  0.017256      6
32  A33  0.017091      6
34  A35  0.031288      6
44  A45  0.016036      6
48  A49  0.020712      6

In [ ]:
dfs_for_levene = [tmp[tmp[group_col_name] == val] for val in group_codes]# if val != value]

In [ ]:
    if shapiro_test1[1]<0.05 and shapiro_test2[1]<0.05 and shapiro_test3[1]<0.05:
        levene=stats.levene(tmp[w][tmp['code']==a],
                            tmp[w][tmp['code']==b],
                            tmp[w][tmp['code']==c])

In [74]:
shapiros=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

shapiros

UnboundLocalError: cannot access local variable 'dfs_for_levene' where it is not associated with a value

In [34]:
values = df['group'].unique().tolist()

shapiros={}
for value in values:
  tmp = df[df['group'] == value]['value']

In [39]:
stats.shapiro(tmp)

ShapiroResult(statistic=0.9042837023735046, pvalue=0.31555837392807007)

In [ ]:

shapiro=[]
for v in values:
    test=df1[[v,'code']]
    for c in codes:
        shapiro_test = stats.shapiro(test[test['code'] == c])
        print(v,c,' ',shapiro_test)