In [1]:
#|default_exp sig_test

# Significant tests

In [5]:
#|hide
from nbdev.showdoc import *

In [6]:
#|hide
#|export
import pandas as pd
import numpy as np
# import statsmodels.api as sm
# import scipy.stats as stats
# from statsmodels.formula.api import ols

import matplotlib.pyplot as plt
import scipy.stats as stats

# import seaborn as sns


# import scikit_posthocs as sp
# import pandas as pd
# import numpy as np
# from io import StringIO

# from statistics_tests import const_vals as const

Constants - to be moved into another notebooks

In [18]:
user_defined_number=50
str_id = 'A'


#shapiro table

shapiro_group_code_str = 'group_code'
shapiro_statistic_str='shapiro_statistic'
shapiro_p_value_str ='shapiro_p_value'

#anova / significant differnce test 
group_code_str = 'group_code'
p_value_str= 'p_value'

sig_test_name_col_name = 'test_name'


anova_name_str='one_way_anova'
kruskal_name_str= 'kruskal'

p_value_border = 0.05

Create example dataframe

In [23]:
#|export

data = {
    'id': [str_id + str(i) for i in range(1, user_defined_number + 1)],
    'value': ((0.01 - 0.03) * np.random.rand(user_defined_number)+ 0.01).tolist(),
    'group': np.random.randint(1, 7, size=user_defined_number).tolist()
}
df=pd.DataFrame(data)
df.head(5)

   id     value  group
0  A1 -0.001234      1
1  A2 -0.008442      1
2  A3  0.001149      4
3  A4 -0.007539      6
4  A5  0.005783      2

# Anova test

to be written

In [30]:
#|export

#TODO FIX THE GROUP CODE IN FINAL TABLE!!!
def anova_test(
    df : pd.DataFrame , # DataFrame containing the observations and a column specifying the group to which each observation belongs.
    group_col_name : str, # the column name which contain the group code 
    values_col_name : str , # the coulmn name of the column that contains the values of each observation
    ):
  
  group_codes = df[group_col_name].unique().tolist()
  dfs_for_test =[df[df[group_col_name] == val][values_col_name] for val in group_codes]

  shapiros={shapiro_group_code_str  : [], shapiro_statistic_str: [] , shapiro_p_value_str:[]}
  
  sig_tests_results={p_value_str: [], sig_test_name_col_name : [] }

  for group_code in group_codes:
        tmp = df[df[group_col_name] == group_code]
        shapiro_test = stats.shapiro(tmp[tmp[group_col_name] == group_code][values_col_name])

        shapiros[shapiro_group_code_str].append(group_code)
        shapiros[shapiro_statistic_str].append(shapiro_test[0])
        shapiros[shapiro_p_value_str].append(shapiro_test[1])


  shapiros_df=pd.DataFrame(shapiros)

  if (shapiros_df[shapiro_p_value_str] < p_value_border).all():

    levene_result = stats.levene(*dfs_for_test)
    
    if levene_result[1]>p_value_border:
        
        anova=stats.f_oneway(dfs_for_test)
        # sig_tests_results[shapiro_group_code_str].append(group_code)
        sig_tests_results[p_value_str].append(anova[1])
        sig_tests_results[sig_test_name_col_name].append(anova_name_str)
        
    else:
      kruskal=stats.kruskal(*dfs_for_test)
      # sig_tests_results[shapiro_group_code_str].append(group_code)
      sig_tests_results[p_value_str].append(kruskal[1])
      sig_tests_results[sig_test_name_col_name].append(kruskal_name_str)

  else:
    
    kruskal=stats.kruskal(*dfs_for_test)
    # sig_tests_results[shapiro_group_code_str].append(group_code)
    sig_tests_results[p_value_str].append(kruskal[1])
    sig_tests_results[sig_test_name_col_name].append(kruskal_name_str)
     
  
  results = pd.DataFrame(sig_tests_results)
  
  return results

In [31]:
sig_difference_df=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

sig_difference_df

    p_value test_name
0  0.232636   kruskal

In [ ]:
group_codes = df['group'].unique().tolist()

if (df['value'] < p_value_border).all():
  dfs_for_levene =[df[df['group'] == val]['value'] for val in group_codes]

  levene_result = stats.levene(*dfs_for_levene)

In [ ]:
levene_result

In [ ]:
group_codes=df['group'].unique().tolist()
group_codes

In [ ]:
tst=[df[df['group'] == val] for val in group_codes]
tst[5]

In [ ]:
dfs_for_levene = [tmp[tmp[group_col_name] == val] for val in group_codes]# if val != value]

In [ ]:
    if shapiro_test1[1]<0.05 and shapiro_test2[1]<0.05 and shapiro_test3[1]<0.05:
        levene=stats.levene(tmp[w][tmp['code']==a],
                            tmp[w][tmp['code']==b],
                            tmp[w][tmp['code']==c])

In [ ]:
shapiros=anova_test(
    df =df,
    group_col_name = 'group',
    values_col_name= 'value')

shapiros

In [ ]:
values = df['group'].unique().tolist()

shapiros={}
for value in values:
  tmp = df[df['group'] == value]['value']

In [ ]:
stats.shapiro(tmp)

In [ ]:

shapiro=[]
for v in values:
    test=df1[[v,'code']]
    for c in codes:
        shapiro_test = stats.shapiro(test[test['code'] == c])
        print(v,c,' ',shapiro_test)